<div id="login" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Login</p>
      <button class="delete" name="delete"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <form class="" action="/login" method="post">
        <div class="field">
          <label class="label">Full Name</label>
          <p class="control">
            <input class="input" type="text" name="username"placeholder="John son">
          </p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" placeholder="Password">
          </p>
        </div>
    </section>
    <footer class="modal-card-foot">
      <div class="field">
        <input type="submit" name="" value="Submit">
      </div>
    </form>
      <a class="button">Cancel</a>
    </footer>
  </div>
</div>
