<div id="login" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="custom-modal-header modal-card-head">
      <img class="login-image" src="../images/scratchback-logo.png" alt="" /><p class="custom-modal-title modal-card-title">  Login</p>
      <button class="delete" name="delete"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <form class="" action="/login" method="post">
        <div class="field">
          <label class="label">Username</label>
          <p class="control">
            <input class="input" type="text" name="username"placeholder="J.son">
          </p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" placeholder="********">
          </p>
        </div>
    </section>
    <footer class="custom-modal-footer modal-card-foot">
      <div class="field">
        <input type="submit" name="" value="Submit">
      </div>
    </form>
    </footer>
  </div>
</div>
