<!-- // inclued avatar rating jobcost lookingFor -->
<div class="box" ng-repeat="x in found">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img ng-src='{[{ x.avatar }]}' alt="avatar">
      </figure>
      <p><strong>{[{ x.fullName }]}</strong></p>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{[{ x.jobSkill }]}</strong> <small>{[{ x.email }]}</small> <small>{[{ x.jobCost }]}</small>
          <br>
          <span>Looking for: {[{ x.lookingFor }]}</span> <small>Located near</small> <small>{[{ x.zip }]}</small>
        </p>
      </div>
    </div>
    <nav class="level">
      <div class="level-left">
        <small>{[{ x.thumbsUp }]}</small>
      </div>
    </nav>
    <div class="media-right">
      <button class="delete" type="button" name="delMedia"></button>
      <br>
    </div>
  </article>
</div>
