<div id="newUser" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Login</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <form class="" action="/newuser" method="post">
        <div class="field">
          <label class="label">Full Name</label>
          <p class="control">
            <input class="input" type="text" name="fullName"placeholder="John son">
          </p>
        </div>
        <div class="field">
          <label class="label">User name</label>
          <p class="control">
            <input class="input" type="text" name="userName" placeholder="User name">
          </p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" placeholder="Password">
          </p>
        </div>
        <div class="field">
          <label class="label">email</label>
          <p class="control">
            <input class="input" type="email" name="email" placeholder="example@emal.com">
          </p>
        </div>
        <div class="field">
          <label class="label">Job Skill</label>
          <p class="control">
            <input class="input" type="text" name="jobskill" placeholder="dropdown">
          </p>
        </div>
        <div class="field">
          <label class="label">specialization</label>
          <p class="control">
            <input class="input" type="text" name="specialization" placeholder="Descrition of experience here">
          </p>
        </div>
        <div class="field">
          <label class="label">job Cost $ $$ $$$ $$$$ $$$$$</label>
          <p class="control">
            <input class="input" type="text" name="jobCost" placeholder="$$$">
          </p>
        </div>
        <div class="field">
          <label class="label">Zip code</label>
          <p class="control">
            <input class="input" type="number" name="zip" placeholder="00000">
          </p>
        </div>
        <div class="field">
          <label class="label">Avatar url</label>
          <p class="control">
            <input class="input" type="url" name="avatar" placeholder="http//...">
          </p>
        </div>
    </section>
    <footer class="modal-card-foot">
      <div class="field">
        <input type="submit" name="" value="Submit">
      </div>
    </form>
      <a class="button">Cancel</a>
    </footer>
  </div>
</div>
