
<div id="newUser" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New user</p>
      <button class="delete" name="delete"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <form class="" action="/newuser" method="post">
        <div class="field">
          <label class="label">Full Name</label>
          <p class="control">
            <input class="input" type="text" name="fullName"placeholder="John Son">
          </p>
        </div>
        <div class="field">
          <label class="label">Username</label>
          <p class="control">
            <input class="input" type="text" name="userName" placeholder="User name">
          </p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" placeholder="********">
          </p>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <p class="control">
            <input class="input" type="email" name="email" placeholder="example@email.com">
          </p>
        </div>
        <div class="field">
          <label class="label">Job Skill</label>
          <p class="control">

              <select class="search-dropdown-menu" name="jobSkill">
                <option value="Finance">Finance</option>
                <option value="Automotive">Automotive</option>
                <option value="Carpentry">Carpentry</option>
                <option value="General Labor">General Labor</option>
                <option value="Construction">Construction</option>
                <option value="Plumbing">Plumbing</option>
                <option value="HVAC">HVAC</option>
                <option value="Consultation">Consultation</option>
                <option value="Landscaping">Landscaping</option>
                <option value="Graphic Design">Graphic Design</option>
                <option value="Photography">Photography</option>
                <option value="Culinary Services">Culinary Services</option>
                <option value="Computer Programming">Computer Programming</option>
                <option value="Academic Tutoring">Academic Tutoring</option>
              </select>

            <!-- <input class="input" type="text" name="jobskill" placeholder="dropdown"> -->
          </p>
        </div>
        <div class="field">
          <label class="label">Job Specialization</label>
          <p class="control">
            <input class="input" type="text" name="specialization" placeholder="Descrition of experience here">
          </p>
        </div>
        <div class="field">
          <label class="label">Job Cost(from a scale of $ to $$$$$)</label>
          <p class="control">
            <input class="input" type="text" name="jobCost" placeholder="$$$">
          </p>
        </div>
        <div class="field">
          <label class="label">Zip code</label>
          <p class="control">
            <input class="input" type="number" name="zip" placeholder="00000">
          </p>
        </div>
        <div class="field">
          <label class="label">Avatar URL</label>
          <p class="control">
            <input class="input" type="url" name="avatar" placeholder="http//...">
          </p>
        </div>
    </section>
    <footer class="modal-card-foot">
      <div class="field">
        <input type="submit" name="" value="Submit">
      </div>
    </form>
    </footer>
  </div>
</div>
