<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scratchback</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"
      integrity="sha256-n+Ch7oRdzZ9+8/inp+1mK/0Bt4T/2PSmo4L6YGoDiVM="
      crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/scratchback_style.css" rel="stylesheet">
  </head>
  <body class="main-body">
    <div class="main-div">
      <section class="hero header-section">
        <div class="header-div hero-body">
          <img src="../images/scratchback-logo.png" alt="" class="logo" />
          <h1 class="header-text">Scratchback</h1>
        </div>
      </section>



      {{{ body }}}

    </div>
      <footer class="sticky-footer footer">
        <div class="footer-container container">
          <div class="footer-div content has-text-centered">
            <p>
              <strong class="footer-strong">Scratchback</strong> by Aashish Panvelkar, Benjamin Spille and Chris Callan.
            </p>
            <p>
              <a class="icon" href="https://github.com/bspille/Scratchback">
                <i class="footer-logo fa fa-github fa-4x"></i>
              </a>
            </p>
          </div>
        </div>
      </footer>
  </body>
</html>
