<div class="columns">
  <div class="column">
    <h1>Scratchback Login</h1>
  </div>
</div>

<div class="columns">
  <div class="column">
    {{!--FORM POST METHOD--}}
    <form class="" action="login" method="post">
      <div class="field">
        <label class="label">User Name</label>
        <p class="control">
          {{!--INPUT FOR THE USERNAME--}}
          <input class="input" type="text" name="username" placeholder="userName">
        </p>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <p class="control">
          {{!--INPUT FOR THE PASSWORD--}}
          <input class="input" type="password" name="password" placeholder="Password">
        </p>
      </div>
      <div class="field">
        <input type="submit" name="submitbutton" value="Submit">
      </div>
    </form>
    <form class="" action="/newuser" method="get">
      <input type="submit" name="" value="New User">
    </form>

  </div>
</div>