<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous">
</script>

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"
  integrity="sha256-n+Ch7oRdzZ9+8/inp+1mK/0Bt4T/2PSmo4L6YGoDiVM="
  crossorigin="anonymous" />

<link rel="stylesheet" href="../assets/css/scratchback_style.css" rel="stylesheet">

<div class="index-main-div">
  <div class="index-login-box box">
    <div class="index-inner-div">
      <h1 class="index-inner-text">Welcome!</h1>
      <button class="index-login-button button" name="togLogin"  type="button">Login</button>
      <button class="index-newuser-button button" name="togNewUser" type="button">New User</button>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">

      {{> login}}
      {{> newuser}}

  </div>
</div>

{{> script}}
