
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"
  integrity="sha256-n+Ch7oRdzZ9+8/inp+1mK/0Bt4T/2PSmo4L6YGoDiVM="
  crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

<div class="columns">
  <div class="column">
    <h1>Scratchback Login</h1>
  </div>
  <div class="column">
    <button name="togLogin"  type="button">Login</button>
    <button name="togNewUser" type="button">New user</button>
  </div>
</div>

<div class="columns">
  <div class="column">
    {{> login}}
    {{> newuser}}
  </div>
</div>

{{> script}}
