
<div class="columns">
  <div class="column">
  <h1>Scratchback</h1>
  </div>
</div>

<div class="columns">
  <div class="column">
    <img src="{{avatar}}" alt="">
  </div>
  <div class="column">
    <h2>{{fullName}}</h2>
  </div>
  <div class="column">
    <span>{{thumbsUp}}</span>
  </div>
</div>

<div class="columns">
  <div class="column">

  </div>
</div>
