
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"
  integrity="sha256-n+Ch7oRdzZ9+8/inp+1mK/0Bt4T/2PSmo4L6YGoDiVM="
  crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

<div class="columns">
  <div class="column">
  <h1>Scratchback</h1>
  </div>
</div>

<div class="columns">
  <div class="column">
    <button type="button" name="togAcct">
      <img src="{{user.avatar}}" alt="">
      <h2>{{user.fullName}}</h2>
    </button>

  </div>

  <div class="column">

    <div class="" ng-app="scratch" ng-controller="jobSrch">

      <form class="" action="/search/{{user.id}}?_method=put" method="post">
        <div class="field">
          <label for="">Looking for</label>
          <p class="control">
            <!-- dropdown menu of search options here -->
            <select class="" name="lookingFor" ng-model="job" ng-options="x for x in jobList">
            </select>
          </p>
        </div>
        <div class="field">
          <button type="button" name="search" val="{{user.id}}">Search</button>
        </div>
      </form>

      <!-- display current search parameter here -->
      
        {{> account }}
    </div>

    <div id="display">
      <!-- display return from search here -->

    </div>
  </div>

{{> script}}
