/*###############################################################*/
/*################Style for main.handlebars######################*/
/*###############################################################*/
.main-body {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /*background-image: url("../../images/asanoha-400px.png");*/
  background-color: #00cddf !important;

}
.main-div {
  flex: 1;
}
.header-section {
  background-color: #3D3D3D !important;
  height: 150px !important;
  margin-bottom: 10px;
  border-bottom: solid;
  border-color: #f6f6f6;
}
.header-div {
  height: 150px !important;
  padding: 0 !important;
}
.logo {
  height: 120px;
  width: 120px;
  margin-top: 15px;
  margin-left: 15px;
}
.header-text {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  color: #dadad9 !important;
  text-align: center;
  display: inline-block;
}
.sticky-footer {
  height: 150px;
  background-color: #3D3D3D !important;
  position: fixed;
  bottom: 0px;
  width: 100%;
  clear: both;
  margin: 0;
  border-top: solid;
  border-color: #f6f6f6;
}
.footer-container {
  height: 175px;
}
.footer-div {
  height: 175px;
  color: #dadad9 !important;
  margin-left: 55px;
}
.footer-strong {
  color: #00cddf !important;
}
.footer-logo {
  color: #00cddf !important;
}
/*###############################################################*/
/*################Style for index.handlebars#####################*/
/*###############################################################*/
.index-main-div {
  width: 100%;
}
.index-login-box {
  margin: 0 auto !important;
  width: 300px;
  height: 200px;
  background-color: #FFFFFF !important;
  border-style: solid;
  border-color: #004d4d;
  color: #004d4d;
}
.index-inner-div {
  margin: 0 auto !important;
}
.index-inner-text {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;
}
.index-login-button {
  margin-left: 70px;
  font-size: 12px;
  color: #004d4d;
  border-style: solid;
  border-color: #004d4d;
}
.index-newuser-button {
  font-size: 12px;
  color: #004d4d;
  border-style: solid;
  border-color: #004d4d;
}
/*###############################################################*/
/*################Style for profile.handlebars###################*/
/*###############################################################*/
.search-display-div {
  margin-right: 400px;
}
.search-inner-div {
  text-align: center;
}
.search-dropdown-menu {
  margin-left: 33%;
}
.search-button-div {
  margin-left: 33%;
}
.search-button {
  width: 158px;
}
.search-box {
  background-color: #FFFFFF !important;
  border-style: solid;
  border-color: #004d4d;
  width: 500px;
}
.user-avatar {
  height: 150px;
  width: 150px;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: solid;
  border-color: #004d4d;
}
.user-div {
  margin-left: 15px;
}
.user-button {
  border-style: solid;
  border-color: #004d4d;
  background-color: #FFFFFF !important;
  color: #004d4d;
}
/*###############################################################*/
/*###############Style for lookingfor.handlebars#################*/
/*###############################################################*/
.profile-box {
  background-color: #FFFFFF !important;
  width: 500px;
  border-style: solid;
  border-color: #004d4d;
}
.avatar-box {
  background-color: #f6f6f6 !important;
  width: 150px !important;
  border-style: solid;
  border-color: #dadad9;
  border-width: 1px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #004d4d;
  border-width: 2px;
}
.profile-text {
  color: #004d4d !important;
}
.profile-cost {
  color: #79c879 !important;
}
.profile-thumbs-up {
  margin-left: 0px !important;
}
.thumbs-up-counter {
  color: #004d4d !important;
  font-size: 20px;
}
/*###############################################################*/
/*#################Style for account.handlebars##################*/
/*###############################################################*/
/*###############################################################*/
/*#########################Style modals##########################*/
/*###############################################################*/
.custom-modal-header {
  background-color: #3D3D3D !important;
  border-bottom: solid !important;
  border-color: #f6f6f6 !important;
}
.custom-modal-footer {
  background-color: #3D3D3D !important;
  border-top: solid !important;
  border-color: #f6f6f6 !important;
}
.custom-modal-title {
  color: #f6f6f6 !important;
}
.login-image {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.new-user-dropdown {
  width: 585px;
  margin-left: 0px !important;
}
